
      body { background-color: white }

      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }

      #entry {
        box-shadow: 3px 3px 20px lightslategrey;
        margin: 20px 0;
      }

      .header {
        text-align: center;
      }

      .centered {
        text-align: center;
      }

      #black {
        background-color: white;
        border: none;
      }

      .right {
        float: right;
        margin-bottom: 20px;
      }

      .card-body-text {
        margin-top: 70px;
        color: black;
        margin-left: 50px;
      }

      .left {
        float: left;
        margin-left: 90px;
      }

      #articleHeader {
        text-align: center;
      }

      #noteHeader {
        text-align: center;
      }

      .scrape {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #articles {
        /* display: inline-block; */
        /* overflow: auto; */
        width: 60%;
        height: 700px;
        text-align: center;
        margin: 0 auto;
      }

      #articlePadding {
        margin-top: 20px;
      }

      #articleTitle {
        margin: 5px;
      }
      #notes {
        /* float: right; */
        width: 100%;
        margin: 0 auto;
        /* margin: 40px; */
      }

      /* POPUP */
      .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
      }
      
      /* The actual popup (appears on top) */
      .popup .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
      }
      
      /* Popup arrow */
      .popup .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
      
      /* Toggle this class when clicking on the popup container (hide and show the popup) */
      .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s
      }
      
      /* Add animation (fade in the popup) */
      @-webkit-keyframes fadeIn {
        from {opacity: 0;} 
        to {opacity: 1;}
      }
      
      @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity:1 ;}
      }
      /* /POPUP */
      
      textarea, input {
        display: block;
        width: 100%;
        background-color: lightgray;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 80px;
        font-size: 18px;
      }
