
      body { background-color: white }

      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }

      #entry {
        box-shadow: 3px 3px 20px lightslategrey;
        margin: 20px 0;
      }

      .header {
        text-align: center;
      }

      .centered {
        text-align: center;
      }

      #black {
        background-color: white;
        border: none;
      }

      .right {
        float: right;
        margin-bottom: 20px;
      }

      .card-body-text {
        margin-top: 70px;
        color: black;
        margin-left: 50px;
      }

      .left {
        float: left;
        margin-left: 90px;
      }

      #articleHeader {
        text-align: center;
      }

      #noteHeader {
        text-align: center;
      }

      .scrape {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #articles {
        width: 60%;
        height: 700px;
        text-align: center;
        margin: 0 auto;
      }

      #articlePadding {
        margin-top: 20px;
      }

      #articleTitle {
        margin: 5px;
      }
      #notes {
        width: 100%;
        margin: 0 auto;
      }
      
      textarea, input {
        display: block;
        width: 100%;
        background-color: lightgray;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 80px;
        font-size: 18px;
      }
